<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe.bbs.app.board.dao">
	
	<select id="getBoardVO"
			parameterType="string"
			resultType="com.cafe.bbs.app.board.vo.BoardVO">
		SELECT BOARD_ID
			 , BOARD_NAME
			 , BOARD_URL
		  FROM BOARD
		 WHERE 1=1
		   AND BOARD_URL = #{_parameter}
	</select>
	
	<select id="getBoardVOById"
			parameterType="string"
			resultType="com.cafe.bbs.app.board.vo.BoardVO">
		SELECT BOARD_ID
			 , BOARD_NAME
			 , BOARD_URL
		  FROM BOARD
		 WHERE 1=1
		   AND BOARD_ID = #{_parameter}
	</select>
	
	<select id="getAllBoard"
			resultType="com.cafe.bbs.app.board.vo.BoardVO">
		SELECT BOARD_ID
			 , BOARD_NAME
			 , BOARD_URL
		  FROM BOARD
	</select>
	
</mapper>