<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/css/common.css">
    <style>
		#error-msg {
		    position: absolute;
		    top: 45%;
		    left: 50%;
		    transform: translate(-50%, -50%);
			text-align: center;
			font-size: 32px;
			font-weight: bold;
			line-height: 40px;
			gap: 40px;
			padding: 150px;
			border: 5px solid #4F6367;
			background-color: #FCFCFC;
			> a {
				color: #FE5F55;
			}
			> a:hover {
				color: #B8D8D8;
			}
		}
	</style>
</head>
<body>
    <div id="container">
        <div class="flex-col center" id="error-msg">
            <span th:text="${msg}"></span>
            <a th:href="${nextUrl}">뒤로가기</a>
        </div>
	</div>
</body>
</html>