<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/articleWrite.css">
</head>
<body>
    <div class="navbar-wrapper flex-row">
        <div class="navbar-title flex-row">
            <span>게시판</span>
            <div class="navbar-category flex-row">
                <a href="/board" class="activated">자유게시판</a>
                <a href="/notice">공지사항</a>
                <a href="/shop">Shop</a>
            </div>
             <!-- <ul class="flex-row">
                <li>로그인</li>
                <li>회원가입</li>
            </ul>
            <ul class="flex-row">
                <li>닉네임</li>
                <li>로그아웃</li>
            </ul> -->
        </div>
    </div>
    <div id="container">
        <div id="article-write">
            <h3>게시글 작성</h3>
            <th:block th:if="${upperArticleVO != null}">
            	<p id="upper-article-title">상위 게시글:<span th:text="${upperArticleVO.articleTitle}"></span></p>
            </th:block>
            <form th:action="@{/board/write}" th:object="${articleVO}" method="post" enctype="multipart/form-data">
				<th:block th:if="${upperArticleVO != null}">
					<input type="hidden" name="upperArticleId" th:value="${upperArticleVO.articleId}">
				</th:block>
                <div class="flex-col">
                    <div class="flex-row space-bet">
                        <input type="text" name="memberName" id="article-writer" placeholder="작성자 닉네임">
                        <input type="password" name="articlePassword" id="article-password" placeholder="비밀번호를 입력하세요 (4자리 ~ 12자리)">
                    </div>
	                <input type="text" name="articleTitle" id="article-title" placeholder="제목을 입력하세요">
	                <textarea name="articleContent" id="article-content" placeholder="본문 내용을 입력하세요"></textarea>
	                <input type="file" name="attachFiles" id="article-flie" multiple>
	                <input type="submit" id="article-submit" class="btn-green" value="등록">
				</div>
            </form>
            <button type="button" class="btn-white" onclick="location.href='/board'">목록으로 돌아가기</button>
        </div>
    </div>
</body>
</html>