<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.1.0/classic/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.1.0/classic/translations/ko.js"></script>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/articleWrite.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript">
    $().ready(function() {
        $(".file-check").change(function() {
            if ($(this).is(':checked')) {
                $(this).parent().addClass("deleted")
            } else {
                $(this).parent().removeClass("deleted")
            }
        })
    })
    </script>
</head>
<body>
    <div th:replace="~{./boardNav :: gnv}"></div>
    <div id="container">
        <div id="article-write">
            <h3>게시글 수정</h3>
            <th:block th:if="${upperArticleVO != null}">
            	<p id="upper-article-title">상위 게시글:<span th:text="${upperArticleVO.articleTitle}"></span></p>
            </th:block>
            <form th:action="@{modify.do}" th:object="${articleVO}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="articleId" th:value="${articleVO.articleId}" >
				<div class="flex-col">
                    <div class="flex-row space-bet">
                        <div class="flex-col half">
			                <input type="text" name="memberName" id="article-writer" placeholder="작성자 닉네임" th:value="${articleVO.memberName}" th:errorclass="input-error">
		                    <span class="msg-error" th:errors="*{memberName}"></span>
                        </div>
                        <select class="half" name="boardId" id="article-boardInfo">
							<option th:each="board : ${boardList}" th:value="${board.boardId}" th:text="${board.boardName}"></option>
                        </select>
                    </div>
	                <input type="text" name="articleTitle" id="article-title" placeholder="제목을 입력하세요" th:value="${articleVO.articleTitle}" th:errorclass="input-error">
                    <span class="msg-error" th:errors="*{articleTitle}"></span>
	                <textarea name="articleContent" id="article-content" placeholder="본문 내용을 입력하세요"  th:text="${articleVO.articleContent}" th:errorclass="input-error"></textarea>
                    <span class="msg-error" th:errors="*{articleContent}"></span>
	                
                    <div id="article-file">
    	                <h5>첨부파일</h5>
		                <th:block th:if="${!fileList.empty}">
	                        <ul class="flex-row" th:each="file : ${fileList}" >
	                            <li>
									<input type="checkbox" class="file-check" name="deleteFiles" th:value="${file.attachmentId}"/>
									<a th:href="@{|/file/download/${file.attachmentId}|}" th:text="${file.originFilename}"></a>
								</li>
	                        </ul>
		                </th:block>
		                <input type="file" name="attachFiles" id="input-flie" multiple>
                    </div>
	                
	                <input type="submit" id="article-submit" class="btn-green" value="등록">
				</div>
            </form>
            <button type="button" class="btn-white" th:onclick="|location.href='@{|/${boardVO.boardUrl}|}'|">목록으로 돌아가기</button>
        </div>
    </div>
    <script>
        ClassicEditor.create( document.querySelector( '#article-content' ), {
            language: "ko"
        } );
    </script>
</body>
</html>