<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <script src="https://kit.fontawesome.com/63879a02ce.js" crossorigin="anonymous"></script>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="./board.js"></script> -->
</head>
<body>
    <div class="navbar-wrapper flex-row">
        <div class="navbar-title flex-row">
            <span>게시판</span>
            <div class="navbar-category flex-row">
                <a href="" class="activated">게시판A</a>
                <a href="">게시판B</a>
                <a href="">게시판C</a>
            </div>
            <!-- <ul class="flex-row">
                <li>로그인</li>
                <li>회원가입</li>
            </ul> -->
            <!-- <ul id="navbar-userinfo" class="flex-row">
                <li>닉네임</li>
                <li>로그아웃</li>
            </ul> -->
        </div>
    </div>
    <div id="container">
        <div id="board-wrapper">
            <div id="board-top">
                <div id="search-area">
                    <form action="">
                        <select name="" id="">
                            <option value="">제목</option>
                            <option value="">내용</option>
                            <option value="">작성자</option>
                        </select>
                        <input type="text" id="keyword">
                        <input type="submit" id="submit" class="btn-green" value="검색">
                    </form>
                </div>
                <button id="article-write" class="btn-white" type="button">글쓰기</button>
            </div>
            <table id="board">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>조회수</th>
                        <th>첨부</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>19</td>
                        <td>게시판 제목입니다<span class="reply-cnt">[3]</span></td>
                        <td>작성자</td>
                        <td>2024.02.01</td>
                        <td>31</td>
                        <td><i class="fa-solid fa-paperclip file-attach"></i></td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>게시판 제목입니다<span class="reply-cnt">[3]</span></td>
                        <td>작성자</td>
                        <td>2024.02.01</td>
                        <td>10</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>게시판 제목입니다<span class="reply-cnt">[3]</span></td>
                        <td>작성자</td>
                        <td>2024.02.01</td>
                        <td>23</td>
                        <td><i class="fa-solid fa-paperclip file-attach"></i></td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>게시판 제목입니다<span class="reply-cnt">[3]</span></td>
                        <td>작성자</td>
                        <td>2024.02.01</td>
                        <td>10</td>
                        <td><i class="fa-solid fa-paperclip file-attach"></i></td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>게시판 제목입니다<span class="reply-cnt">[3]</span></td>
                        <td>작성자</td>
                        <td>2024.02.01</td>
                        <td>56</td>
                        <td><i class="fa-solid fa-paperclip file-attach"></i></td>
                    </tr>
                    <tr class="level-1">
                        <td></td>
                        <td>답글 제목입니다<span class="reply-cnt">[3]</span></td>
                        <td>작성자</td>
                        <td>2024.02.01</td>
                        <td>10</td>
                        <td><i class="fa-solid fa-paperclip file-attach"></i></td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>게시판 제목입니다<span class="reply-cnt">[0]</span></td>
                        <td>작성자</td>
                        <td>2024.02.01</td>
                        <td>10</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>게시판 제목입니다<span class="reply-cnt">[2]</span></td>
                        <td>작성자</td>
                        <td>2024.02.01</td>
                        <td>9</td>
                        <td><i class="fa-solid fa-paperclip file-attach"></i></td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>게시판 제목입니다<span class="reply-cnt">[1]</span></td>
                        <td>작성자</td>
                        <td>2024.02.01</td>
                        <td>12</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>게시판 제목입니다<span class="reply-cnt">[3]</span></td>
                        <td>작성자</td>
                        <td>2024.02.01</td>
                        <td>8</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>게시판 제목입니다<span class="reply-cnt">[3]</span></td>
                        <td>작성자</td>
                        <td>2024.02.01</td>
                        <td>16</td>
                        <td><i class="fa-solid fa-paperclip file-attach"></i></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>게시판 제목입니다<span class="reply-cnt">[3]</span></td>
                        <td>작성자</td>
                        <td>2024.02.01</td>
                        <td>10</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>게시판 제목입니다<span class="reply-cnt">[3]</span></td>
                        <td>작성자</td>
                        <td>2024.02.01</td>
                        <td>45</td>
                        <td><i class="fa-solid fa-paperclip file-attach"></i></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>게시판 제목입니다<span class="reply-cnt">[3]</span></td>
                        <td>작성자</td>
                        <td>2024.02.01</td>
                        <td>10</td>
                        <td><i class="fa-solid fa-paperclip file-attach"></i></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>게시판 제목입니다<span class="reply-cnt">[0]</span></td>
                        <td>작성자</td>
                        <td>2024.02.01</td>
                        <td>12</td>
                        <td><i class="fa-solid fa-paperclip file-attach"></i></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>게시판 제목입니다<span class="reply-cnt">[0]</span></td>
                        <td>작성자</td>
                        <td>2024.02.01</td>
                        <td>10</td>
                        <td><i class="fa-solid fa-paperclip file-attach"></i></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>게시판 제목입니다<span class="reply-cnt">[0]</span></td>
                        <td>작성자</td>
                        <td>2024.02.01</td>
                        <td>10</td>
                        <td><i class="fa-solid fa-paperclip file-attach"></i></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>게시판 제목입니다<span class="reply-cnt">[2]</span></td>
                        <td>작성자</td>
                        <td>2024.02.01</td>
                        <td>11</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>게시판 제목입니다<span class="reply-cnt">[1]</span></td>
                        <td>작성자</td>
                        <td>2024.02.01</td>
                        <td>10</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>게시판 제목입니다<span class="reply-cnt">[1]</span></td>
                        <td>작성자</td>
                        <td>2024.02.01</td>
                        <td>10</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="flex-row" id="page-area">
                <a href="">처음</a>
                <a href="">이전</a>
                <a href="" class="font-bold">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
                <a href="">6</a>
                <a href="">7</a>
                <a href="">8</a>
                <a href="">9</a>
                <a href="">10</a>
                <a href="">다음</a>
                <a href="">마지막</a>
            </div>
        </div>
    </div>
</body>
</html>