<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <script src="https://kit.fontawesome.com/63879a02ce.js" crossorigin="anonymous"></script>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/board.js"></script>
</head>
<body>
    <div th:replace="~{./boardNav :: gnv}"></div>
    <div id="container">
        <div id="board-wrapper">
            <div id="board-top">
                <div id="search-area">
                    <form id="search-form" th:object="${searchArticleVO}" method="get">
                        <select name="searchType" id="">
                            <option value="title">제목</option>
                            <option value="content">내용</option>
                            <option value="writer">작성자</option>
                        </select>
                        <input type="text" name="keyword" id="keyword">
                        <input type="hidden" id="pageNo" name="pageNo" />
                        <input type="submit" id="search-btn" class="btn-green" value="검색">
                    </form>
                </div>
                <a th:href="@{|/${boardVO.boardUrl}/write|}" id="article-write" class="btn-white">글쓰기</a>
            </div>
            <table id="board">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>조회수</th>
                        <th>첨부</th>
                    </tr>
                </thead>
                <tbody>
					<th:block th:if="${articleList.empty}">
						<tr>
							<td colspan="6">등록된 게시글이 없습니다!</td>
						</tr>
					</th:block>
                    <tr th:each="articleVO : ${articleList}" 
                    	th:classappend="${articleVO.level} > 2 ? 'level-3' : 'level-'+${articleVO.level}">
                        <td class="article-num"- th:text="${articleVO.articleNum}"></td>
                        <td class="title-area">
							<th:block th:if="${articleVO.level} > 1">
								<i class="fa-solid fa-l upper-icon"></i>
							</th:block>
							<a th:href="@{|/${boardVO.boardUrl}/view|(articleId=${articleVO.articleId})}" th:text="${articleVO.articleTitle}"></a>
							<span class="reply-cnt" th:text="|[${articleVO.replyCnt}]|"></span>
						</td>
                        <td th:text="${articleVO.memberName}"></td>
                        <td th:text="${articleVO.articleCreateDate}"></td>
                        <td th:text="${articleVO.viewCnt}"></td>
                        <td>
							<i th:if="${articleVO.fileCnt} >0" class="fa-solid fa-paperclip"></i>
						</td>
                    </tr>
                </tbody>
            </table>
            <ul class="flex-row" id="page-area">
                <th:block th:if="${!articleList.empty}">
                    <!-- 이전 페이지 그룹 -->
                    <th:block th:if="${searchArticleVO.hasPrevGroup}">
                        <li>
                            <a href="javascript:void(0)" th:onclick="movePage(0)">처음</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" th:onclick="movePage(${searchArticleVO.prevGroupStartPageNo})">이전</a>
                        </li>
                    </th:block>
                    
                    <th:block th:each="p:${#numbers.sequence(searchArticleVO.groupStartPageNo,searchArticleVO.groupEndPageNo)}">
                        <li th:classappend="${searchArticleVO.pageNo} == ${p} ? 'font-bold': ''">
                            <a href="javascript:void(0)" th:pageNo="${p}" th:onclick="movePage(this.getAttribute('pageNo'))" th:text="${p+1}"></a>
                        </li>
                    </th:block>
                    
                    <!-- 다음 페이지 그룹 -->
                    <th:block th:if="${searchArticleVO.hasNextGroup}">
                        <li>
                            <a href="javascript:void(0)" th:onclick="movePage(${searchArticleVO.nextGroupStartPageNo})">다음</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" th:onclick="movePage(${searchArticleVO.pageCount -1})">마지막</a>
                        </li>
                    </th:block>
                </th:block>
            </ul>
        </div>
    </div>
</body>
</html>