<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/article.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="./article.js"></script> -->
</head>
<body>
    <div class="navbar-wrapper flex-row">
        <div class="navbar-title flex-row">
            <span>게시판</span>
            <div class="navbar-category flex-row">
                <a href="/board" class="activated">자유게시판</a>
                <a href="/notice">공지사항</a>
                <a href="/shop">Shop</a>
            </div>
            <!-- <ul class="flex-row">
                <li>로그인</li>
                <li>회원가입</li>
            </ul>
            <ul class="flex-row">
                <li>닉네임</li>
                <li>로그아웃</li>
            </ul> -->
        </div>
    </div>
    <div id="container">
        <div id="article-wrapper">
            <div id="article">
                <div id="article-title">
                    <h3 th:text="${articleVO.articleTitle}">제목입니다</h3>
                    <div class="flex-row">
                        <ul class="flex-row writer-info">
                            <li><span class="user-nickname" th:text="${articleVO.memberName}">닉네임</span></li>
                            <li>작성:<span th:text="${articleVO.articleCreateDate}"></span></li>
                            <li>수정:<span th:text="${articleVO.articleModifyDate}"></span></li>
                            <li>조회수<span th:text="${articleVO.viewCnt}"></span></li>
                        </ul>
                        <ul class="flex-row add-delete">
                            <li><a th:href="@{|/board/modify/${articleVO.articleId}|}">수정</a></li>
                            <li><a th:href="@{|/board/delete/${articleVO.articleId}|}">삭제</a></li>
                        </ul>
                    </div>
                </div>
                <div id="article-content">
					<p th:text="${articleVO.articleContent}"></p>
                </div>
                <div id="article-file">
                    <h5>첨부파일</h5>
                    <ul class="flex-row">
                        <li>01.jpg</li>
                    </ul>
                </div>
                <div id="replies-list">
                    <div class="reply-item">
                        <div class="flex-row">
                            <ul class="flex-row writer-info">
                                <li><span class="user-nickname">닉네임</span></li>
                                <li>작성:<span>2024-02-01 19:10</span></li>
                                <li></li>
                            </ul>
                            <ul class="flex-row add-delete">
                                <li>수정</li>
                                <li>삭제</li>
                            </ul>
                        </div>
                        <div class="reply-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Variu
                        </div>
                    </div>
                    <div class="reply-item">
                        <div class="flex-row">
                            <ul class="flex-row writer-info">
                                <li><span class="user-nickname">닉네임</span></li>
                                <li>작성:<span>2024-02-01 20:20</span></li>
                                <li></li>
                            </ul>
                            <ul class="flex-row add-delete">
                                <li>수정</li>
                                <li>삭제</li>
                            </ul>
                        </div>
                        <div class="reply-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Variu
                        </div>
                    </div>
                    <div class="reply-item">
                        <div class="flex-row">
                            <ul class="flex-row writer-info">
                                <li><span class="user-nickname">닉네임</span></li>
                                <li>작성:<span>2024-02-01 20:43</span></li>
                                <li>수정:<span>2024-02-01 20:45</span></li>
                            </ul>
                            <ul class="flex-row add-delete">
                                <li>수정</li>
                                <li>삭제</li>
                            </ul>
                        </div>
                        <div class="reply-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Variu
                        </div>
                    </div>
                </div>
                <div id="replies-write">
                    <div class="flex-col">
                        <h5>댓글 쓰기</h5>
                        <input type="text" name="" id="" placeholder="댓글 작성자">
                    </div>
                    <textarea name="" id="reply-write" placeholder="댓글 내용"></textarea>
                    <button id="reply-submit" class="btn-green" type="button">등록</button>
                </div>
            </div>
            <div id="" class="flex-row article-btn-group">
                <a href="" class="btn-green">답글 작성</a>
                <a href="/board" class="btn-white">목록</a>
            </div>
        </div>
    </div>
</body>
</html>