<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/intro.css}">
</head>
<body>

    <div id="container">
		<div class="flex-col center" id="main-link">
            <a href="/board">자유게시판</a>
            <a href="/notice">공지사항</a>
            <a href="/shop">Shop</a>
		</div>
    </div>
</body>
</html>