#board-top {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    #search-area {
        display: flex;
        align-items: center;
        gap: 5px;
        > form {
            > select {
                height: 24px;
            }
            > input:nth-child(2) {
                width: 200px;
                height: 24px;
            }
            > input:last-child {
                padding: 0 10px;
                height: 24px;
                font-size: 12px;
            }
        } 
    }
    > a {
        width: 60px;
        height: 24px;
        line-height: 24px;
        text-align: center;
    }
}
#board {
    width: 100%;
    border-collapse: collapse;
    th, td {
        text-align: center;
        border: 1px solid #DDD;
        height: 28px;
        overflow: hidden;
    }
    td.title-area {
		text-align: left;
	}
    th {
        background-color: #B8D8D8;
    }
    th:first-child {
        width: 7%;
    }
    th:nth-child(2) {
        width: auto;
    }
    th:nth-child(3),
    th:nth-child(4) {
        width: 12%;
    }
    th:nth-child(5) ,
    th:nth-child(6) {
        width: 7%;
    }
    .article-num {
		font-size: 11px;
	}
}
#page-area {
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    gap: 5px;
}
.file-attach {
    margin-left: 3px;
}
.reply-cnt {
    margin-left: 7px;
    color: #FE5F55;
}
.level-1 {
	>td.title-area {
	    padding-left: 20px;
	}
}
tr.level-2 {
    background-color: #b8d8d840 ;
	>td.title-area {
	    padding-left: 40px;
	}
}
.level-3 {
    background-color: #b8d8d870 ;
    >td.title-area {
	    padding-left: 60px;
	}
}