#article-write {
    padding: 20px;
    border: 1px solid #7A9E9F;
    border: 1px solid #7A9E9F;
    > button {
        margin-top: 10px;
        width: 100%;
        height: 40px;
        font-size: 15px;
    }
}
/* 회원가입 구현 시 주석 적용 */
#upper-article-title {
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: #b8d8d88A;
    > span {
        margin-left: 7px;
    }
}
#article-writer,
#article-boardInfo {
    margin-top: 15px;
    padding: 10px;
    font-size: 14px;
}
#article-password {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    font-size: 14px;
}
#article-title{
    /* margin-top: 20px; */
    margin-top: 15px;
    padding: 12px;
    font-size: 16px;
}
.ck-editor__top {
    margin-top: 15px !important;
}
.ck-editor__editable { 
    padding: 12px;
	height: 400px;
}
#article-file {
    margin-top: 15px;
    > h5 {
		margin-bottom: 5px;
	}
	>ul > li {
		display: flex;
		align-items: center;
	}
    > input {
		padding: 7px 5px;
	}
}
#article-submit {
    margin-top: 20px;
    height: 40px;
    font-size: 15px;
}
.flie-list {
    margin-top: 15px;
    padding-left: 10px;
    gap: 7px;
}
