body {
	background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
}
#main-link {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	line-height: 40px;
	gap: 40px;
	padding: 150px;
	border: 5px solid #4F6367;
	background-color: #ecf1dc9d;
}