<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe.bbs.app.article.dao">
	
	<resultMap id="articleVOMap" 
			   type="com.cafe.bbs.app.article.vo.ArticleVO"
			   autoMapping="true">
		<id column="ARTICLE_ID" property="articleId" />
		<association property="articleMasterVO"
					 javaType="com.cafe.bbs.app.article.vo.ArticleMasterVO"
					 autoMapping="true">
		</association>
	</resultMap>
	
	<select id="searchArticle"
			parameterType="com.cafe.bbs.app.article.vo.SearchArticleVO"
			resultMap="articleVOMap">
		<include refid="common.pagination_header" />
		SELECT A.ARTICLE_ID
			 , SUBSTR(A.ARTICLE_ID, -6) AS ARTICLE_NUM
			 , A.UPPER_ARTICLE_ID
			 , A.ARTICLE_TITLE
			 , A.ARTICLE_CONTENT
			 , A.VIEW_CNT
			 , AM.BOARD_ID
			 , AM.MEMBER_NAME
			 , TO_CHAR(AM.ARTICLE_CREATE_DATE, 'YYYY-MM-DD') ARTICLE_CREATE_DATE
			 , TO_CHAR(AM.ARTICLE_MODIFY_DATE, 'YYYY-MM-DD') ARTICLE_MODIFY_DATE
			 , TO_CHAR(AM.ARTICLE_DELETE_DATE, 'YYYY-MM-DD') ARTICLE_DELETE_DATE
 			 , LEVEL
 			 , ( SELECT COUNT(1) 
 			 	   FROM REPLY R 
 			 	  WHERE 1=1 
 			 	    AND A.ARTICLE_ID = R.ARTICLE_ID 
 			 	    AND REPLY_DELETE_DATE IS NULL) REPLY_CNT
			 , ( SELECT COUNT(1) 
			 	   FROM ATTACHMENT ATT 
			 	  WHERE 1=1 
			 	    AND A.ARTICLE_ID = ATT.ARTICLE_ID ) FILE_CNT
		  FROM ARTICLE A
		  JOIN ARTICLE_MASTER AM
		    ON A.ARTICLE_ID = AM.ARTICLE_ID
		 WHERE 1=1
		   AND AM.ARTICLE_DELETE_DATE IS NULL
		   AND AM.BOARD_ID = #{boardId}
		<if test='keyword != null and keyword != ""'>
			<if test='searchType == "title"'>
		   AND A.ARTICLE_TITLE LIKE '%' || #{keyword} || '%'
			</if>
			<if test='searchType == "content"'>
		   AND A.ARTICLE_CONTENT LIKE '%' || #{keyword} || '%'	
			</if>
			<if test='searchType == "writer"'>
		   AND AM.MEMBER_NAME LIKE '%' || #{keyword} || '%'	
			</if>
		</if>
     	 START WITH A.UPPER_ARTICLE_ID IS NULL
   	   CONNECT BY PRIOR A.ARTICLE_ID = A.UPPER_ARTICLE_ID
   	     ORDER SIBLINGS BY A.ARTICLE_ID DESC
	    <include refid="common.pagination_footer" />
	   ORDER BY RNUM
	</select>
	
	<select id="getArticleCount"
			parameterType="com.cafe.bbs.app.article.vo.SearchArticleVO"
			resultType="_int">
		SELECT COUNT(1)
		  FROM ARTICLE_MASTER AM
		  JOIN ARTICLE A
		    ON AM.ARTICLE_ID = A.ARTICLE_ID
  		 WHERE 1=1
		   AND ARTICLE_DELETE_DATE IS NULL
   		   AND AM.BOARD_ID = #{boardId}
		<if test='keyword != null and keyword != ""'>
			<if test='searchType == "title"'>
		   AND A.ARTICLE_TITLE LIKE '%' || #{keyword} || '%'
			</if>
			<if test='searchType == "content"'>
		   AND A.ARTICLE_CONTENT LIKE '%' || #{keyword} || '%'	
			</if>
			<if test='searchType == "writer"'>
		   AND AM.MEMBER_NAME LIKE '%' || #{keyword} || '%'	
			</if>
		</if>
	</select>
	
	<select id="getOneArticleByArticleId"
			parameterType="string"
			resultMap="articleVOMap">
		SELECT A.ARTICLE_ID
			 , A.UPPER_ARTICLE_ID
			 , A.ARTICLE_TITLE
			 , A.ARTICLE_CONTENT
			 , A.ARTICLE_PASSWORD
			 , A.VIEW_CNT
			 , AM.BOARD_ID
			 , AM.MEMBER_NAME
			 , TO_CHAR(AM.ARTICLE_CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') ARTICLE_CREATE_DATE
			 , TO_CHAR(AM.ARTICLE_MODIFY_DATE, 'YYYY-MM-DD HH24:MI:SS') ARTICLE_MODIFY_DATE
			 , AM.ARTICLE_DELETE_DATE
		  FROM ARTICLE A
		  JOIN ARTICLE_MASTER AM
		    ON A.ARTICLE_ID = AM.ARTICLE_ID
		 WHERE 1=1
		   AND AM.ARTICLE_DELETE_DATE IS NULL
		   AND A.ARTICLE_ID = #{_parameter}
	</select>

	<update id="increaseViewCount"
			parameterType="string">
		UPDATE ARTICLE
		   SET VIEW_CNT = VIEW_CNT +1
		 WHERE ARTICLE_ID = #{_parameter}
	</update>
	
	<insert id="createNewArticleInfo"
			parameterType="com.cafe.bbs.app.article.vo.ArticleMasterVO">
		INSERT INTO ARTICLE_MASTER
			 ( ARTICLE_ID
			 , BOARD_ID
			 , MEMBER_NAME
			 , ARTICLE_CREATE_DATE )
		VALUES
			 ( ('AC-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_ARTICLE_MASTER_PK.NEXTVAL, 6, '0'))
			 , #{boardId}
			 , #{memberName}
			 , SYSDATE )
	    <selectKey resultType="string" keyProperty="articleId" order="AFTER">
			SELECT ('AC-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_ARTICLE_MASTER_PK.CURRVAL, 6, '0'))
			  FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="createNewArticle"
			parameterType="com.cafe.bbs.app.article.vo.ArticleVO">
		INSERT INTO ARTICLE
			 ( ARTICLE_ID
		 	 , UPPER_ARTICLE_ID
			 , ARTICLE_TITLE
			 , ARTICLE_CONTENT
			 , ARTICLE_PASSWORD
			 , ARTICLE_SALT )
		VALUES
			 ( #{articleId}
			 , #{upperArticleId}
			 , #{articleTitle}
			 , #{articleContent}
			 , #{articlePassword}
			 , #{articleSalt} )
	</insert>
	
	<update id="modifyArticleInfo"
			parameterType="com.cafe.bbs.app.article.vo.ArticleMasterVO">
		UPDATE ARTICLE_MASTER
		   SET MEMBER_NAME = #{memberName}
			 , ARTICLE_MODIFY_DATE = SYSDATE
		 WHERE ARTICLE_ID = #{articleId}
	</update>
	<update id="modifyArticle"
			parameterType="com.cafe.bbs.app.article.vo.ArticleVO">
		UPDATE ARTICLE
		   SET ARTICLE_TITLE = #{articleTitle}
			 , ARTICLE_CONTENT = #{articleContent}
		 WHERE ARTICLE_ID = #{articleId}
	</update>
	
	<update id="deleteOneArticle"
			parameterType="string">
		UPDATE ARTICLE_MASTER
		   SET ARTICLE_DELETE_DATE = SYSDATE
		 WHERE ARTICLE_ID = #{_parameter}
	</update>
	
	<select id="getArticlePassword"
			parameterType="string"
			resultType="com.cafe.bbs.app.article.vo.ArticleVO">
		SELECT ARTICLE_PASSWORD
			 , ARTICLE_SALT
		  FROM ARTICLE
		 WHERE ARTICLE_ID = #{_parameter}
	</select>
	
	<select id="getBesideArticle"
			parameterType="com.cafe.bbs.app.article.vo.ArticleVO"
			resultType="com.cafe.bbs.app.article.vo.NextArticleVO">
		SELECT * 
		  FROM ( SELECT A.ARTICLE_ID
	 				  , LAG(A.ARTICLE_ID, 1, '') OVER (ORDER BY A.ARTICLE_ID) AS PREV_ARTICLE_ID
	 				  , LAG(A.ARTICLE_TITLE, 1, '') OVER (ORDER BY A.ARTICLE_ID) AS PREV_ARTICLE_TITLE
	 				  , LEAD(A.ARTICLE_ID, 1, '') OVER (ORDER BY A.ARTICLE_ID) AS NEXT_ARTICLE_ID
	 				  , LEAD(A.ARTICLE_TITLE, 1, '') OVER (ORDER BY A.ARTICLE_ID) AS NEXT_ARTICLE_TITLE
  				   FROM ARTICLE A
  				   JOIN ARTICLE_MASTER AM
    				 ON A.ARTICLE_ID = AM.ARTICLE_ID
 				  WHERE 1=1
   					AND AM.BOARD_ID = #{boardId}
   					AND AM.ARTICLE_DELETE_DATE IS NULL )
   		 WHERE ARTICLE_ID = #{articleId}
	</select>
	
</mapper>